<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
	<display-name>CountryCapitalApp</display-name>
	<welcome-file-list>
		<welcome-file>home.html</welcome-file>
		<welcome-file>page.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>capitals1</servlet-name>
		<jsp-file>/WEB-INF/pages/page.html</jsp-file>
	</servlet>
	<servlet-mapping>
		<servlet-name>capitals1</servlet-name>
		<url-pattern>/pageurl</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>capitals</servlet-name>
		<servlet-class>com.wipro.servlet.GetCapitalServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>capitals</servlet-name>
		<url-pattern>/capitalurl</url-pattern>
	</servlet-mapping>
	
</web-app>